body {
    background-color: navajowhite;
}
a{
    text-decoration: none;
    color: rgb(184, 0, 0);
}
a:hover{
    color:rgb(63, 172, 0);
}
nav {
    border: 2px solid green;
    border-width: 5px;
    padding: 2px;
    margin: 10px;
    width: 75px;
    display: inline;
}
header {
    margin: 20px auto;
    color: mediumseagreen;
    text-align: center;
    font-size: 35px;
    font-family: monospace;
}
header h1 {
    border: 5px solid red;
    border-radius: 20px;
}
form p {
    border: 5px solid green;
    border-radius: 15px;
    padding: 2px;
    margin: 10px;
    width: 500px;
}
p{
    text-decoration: none;
    color: rgb(184, 0, 0);
}
p:hover{
    color:rgb(63, 172, 0);
}
p.reset-submit {
    word-spacing: 325px;
}
.gold-border {
    border: 5px solid gold;
    border-style: ridge;
    border-radius: 15px;
    margin: 10px;
    width: 150px;
}
@media (min-width: 1024px) {
    body {
      background-color: lightblue;
    
    }
  }
  @media (min-width: 1024px) {
  }
  @media screen and (max-width: 600px){

    
 }
 h1 {
     font-size: 50px;
 }
 @media (min-width: 768px){
     h1 {
         font-size: 60px;
     }
 }
 @media (min-width: 320px){
     h1 {
         font-size: 10px;
     }
 }
 h1 {
     font-size: 100px;
 }